# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
.venv/
venv/
env/

# ==========================================
# Pytest
# ==========================================

.pytest_cache/
.coverage
htmlcov/

# ==========================================
# Playwright
# ==========================================

playwright-report/
test-results/

# ==========================================
# Allure
# ==========================================

allure-results/
allure-report/

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# Operating System
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# Environment
# ==========================================

.env
.env.*

# ==========================================
# Python Packaging
# ==========================================

dist/
build/
*.egg-info/

# ==========================================
# Temporary files
# ==========================================

*.tmp
*.bak
